
<div class="alert alert-success" role="alert" style="line-height: 1.9rem">
  Willkommen zur체ck, {{user.nickname}}!<br />
  Wir haben festgestellt, dass dein Profil noch nicht vollst채ndig ist und bitten dich, die fehlenden Angaben zu erg채nzen.<br />
  Diese Meldung verschwindet, sobald du Telefon &amp; Discord im Profil ausgef체llt hast.<br />
  <a href="/user/profile/edit" class="btn btn-success mt-2">Profil bearbeiten</a>
</div>
