
<div class="alert alert-success" role="alert" style="line-height: 1.9rem">
  Willkommen zurück, {{user.nickname}}!<br />
  Wir haben festgestellt, dass dein Profil noch nicht vollständig ist und bitten dich, die fehlenden Angaben zu ergänzen.<br />
  <a href="/user/profile/edit" class="btn btn-success mt-2">Profil bearbeiten</a>
</div>
