{% if settings.get("lan.party.start") %}
    <div class="container">
        <div class="card">
            <div class="card-body row justify-content-center">
                <h2><span style="font-size: 1.75rem;">Nächste Lanparty:</span> &nbsp;
                <span class="text-primary">{{helpers.toShortDate(settings.get("lan.party.start"), 'd.m.')}} {% if settings.get("lan.party.start") %} - {{helpers.toShortDate(settings.get("lan.party.end"), 'd.m.Y')}}{% endif %}</span>
                <i style="font-size: 1.75rem;" class="fas fa-calendar fa-fw"></i>
                </h2>
            </div>
        </div>
    </div>
{% endif %}